# Git
.git
.gitignore
.github

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist
.nx

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# SQLite database
*.sqlite

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Logs
logs
*.log

# Tests
coverage
